header, nav, main, footer, p{
    margin: 20px;

}
header{
    border: 2px solid black;
    /* height: 250px; */
    text-align: center;
    font-family: 'Work Sans', sans-serif;

}

h1{
    margin: 40px;
    font-size: 1.25em;
    font-size-adjust: 0.5;
}

p{
    height: 100px;
    width: 450px;
    /* border: 2px solid purple; */
    margin: 20px auto;
}

nav{
    border: 2px solid green;
    height: 100px;

}

main{
    border: 2px solid red;
    height: 500px;

}

footer{
    border: 2px solid yellow;
    height: 100px;

}


